
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
 }
 h1 {
    font-size: 50px;
 }
 .btn{
    height: 75px;
    width: 75px;
    margin:15px;
    font-size: 40px;
 }
 .clear-button {
    height: 75px;
    width: 400px ;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: wheat;
    color:black
 }
 .number {
    border: 2px solid black;
    border-radius: 10px;
    background-color: gainsboro;
    color: black;
 }
 .operator, .equal{
    border: 2px solid black;
    border-radius: 10px;
    background-color: wheat;
    color:black
 }
 .display{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 50px;
    background-color: gainsboro;
    color: black
    
 }
 .display-input {
    font-size: 25px;
    padding-right: 25px;
    height: inherit;

 }
 .display-result {
    font-size: 75px;
    padding-right: 25px;
    height: inherit;

 }
 .calculator {
    width: 500px;
    border: 2px black solid;
    border-radius: 20px;
    background-color: grey;
    
 }
 .decimal {
    border: 2px solid black;
    border-radius: 10px;
    background-color: wheat;
    color: black;
 }
 .row{
    margin-left:35px;
    margin-bottom: 10px;
 }